<article class="mb-4">
    <header class="mb-2">
        <h1 class="pt-1 pb-2 text-2xl md:text-3xl font-slab font-semibold text-gray-700">
            {{ $title }}
        </h1>

        <p class="text-sm text-gray-700 leading-loose">
            <time datetime="{{ $date | format("Y-m-d\TH:i:sP") }}">{{# DateTime::ATOM" #}}
                {{ $date format="jS M Y" }}
            </time>

            by Faysal Ahamed

            {{ if $tags }}
                &middot;
                {{ $tags }}
                    <a href="{{ $url }}" class="bg-gray-300 hover:bg-gray-200 p-1 rounded">#{{ $title }}</a>
                {{ /$tags }}
            {{ /if }}
        </p>
    </header>

    {{ if $featured_image }}
    <div class="mb-2">
        <img src="{{ glide :src="$featured_image" width="600" height="400" }}" alt="{{ $title }}">
        {{ if $image_credit }}
        <p class="text-right text-gray-600 text-xs markup pt-2">{{ $image_credit }}</p>
        {{ /if }}
    </div>
    {{ /if}}
    <div class="content text-lg text-gray-800 leading-relaxed">
        {{ $content }}
    </div>
</article>
