.markup p{
    margin-bottom: 1rem;
}

.markup a{
    @apply underline text-blue-600;
}

.markup a:hover{
    @apply text-blue-800;
}

.markup ul{
    list-style-type: disc;
    list-style-position: inside;
}

.markup h1{
    @apply text-3xl py-4;
}

.markup h2{
    @apply text-2xl py-3;
}

.markup h3{
    @apply text-xl py-2;
}

.markup pre{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 4px;
    background: #f7fafc;
    padding: 1rem;
}

.markup code, .markup pre > code{
    font-size: 14px;
    background-color: transparent;
    color: #555;
    line-height: 1.5;
    word-break: normal;
    word-spacing: normal;
    white-space: pre;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    padding: 0 1rem;
}

.markup ol{
    @apply list-decimal list-inside;
}

.markup ol li ol{
    @apply list-decimal list-inside pl-8;
}